/*Void*/
:root{
    --primary: #282a36;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    overflow-x: hidden;
    font-weight: normal;
}


/*ScroolBar*/
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border: 31px none #ffffff;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #282a3627;;
}
::-webkit-scrollbar-thumb:active {
  background: #a3a3a3;
}

::-webkit-scrollbar-corner {
  background: transparent;
}


/*Loader*/
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fondu-out {
  opacity: 0;
  transition: opacity 0.4s ease-out;
  display: none;
}

/*Button*/
.button#top-button {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  border: white 3px solid;
  border-radius: 10px;
  padding: 10px 10px;
  display: none;
}

.button#top-button:hover {
  background: var(--primary);
  color: white;
  border-color: var(--primary);
}

.button {
  transition: background-color 0.4s, border 0.4s, color 0.4s;
}

/*Menu*/
nav {
  margin: 0;
  width: 100%;
  background-color: var(--primary);
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav div {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  width: fit-content;

}

nav li {
  list-style-type: none;
  float: right;
}

nav a {
  display: inline-block;
  text-decoration: none;
  padding: 20px 30px;
  color: white;
}
.name {
  color: white;
  margin-right: 34rem;
  font-weight: bold;
  font-size: 20px;
}


/*Animation menu*/
.menu-link:hover {
  border-top: 5px solid white;
  background-color: rgba(255, 255, 255, 0.15);
}

.menu-link {
  transition: background-color 0.4s;
}

nav li:hover a {
  padding: 15px 30px 20px 30px;
}

/*Body*/
.quote {
  font-style: italic;
}

.title-header {
  color: white;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 75px;
}

.title-header2 {
  color: white;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}

.header-body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    position: relative;
}

.rect {
  position: relative;
  height: 100vh;
}

.titre {
  font-size: 75px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 4rem;
}

.description {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 4rem;
  text-align: left;
}

.liste {
  text-align: left;
  color: white;
  font-size: 30px;
}

.liste a {
  color: white;
}


/*Backgrounds*/
.background {
    height: 100vh;
    filter: brightness(0.7);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.video {
  position: absolute;
  z-index: -1;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  filter: brightness(0.7);
}

.background#paf {
    background-image: url(../Pictures/paf-min.jpg);
}

.background#dr400 {
  background-image: url(../Pictures/dr400-min.jpg);
}

.background#oleron {
  background-image: url(../Pictures/oleron-min.jpg);
}

.background#boyardville{
  background-image: url(../Pictures/boyardville-min.jpg);
}